[mysqld]

server-id = {{ deploy_mysql_server_id }}
read-only = {{ deploy_mysql_readonly }}
log-bin = mysql-bin
binlog_format = row
gtid-mode = ON
enforce-gtid-consistency = ON
log-replica-updates = ON
{% if deploy_mysql_role == "slave" %}
relay-log = relay-log-server
replicate-ignore-table = bet.events_on_demand
replicate-ignore-table = bet.v_same_event
{% endif %}