  bonds:
      bond0:
          dhcp4: false
          interfaces:
          - eth1
          - eth5
          parameters:
              mode: 802.3ad
          addresses:
              - 192.168.255.2/30
          mtu: 1500